
/* Welcome Page */
.WelcomePage {
  background: url("./images/backgrounds/welcomepage.jpg");
  background-position: center;
  background-size: cover;
  min-height: 620px;
  min-width: 1500px;
}

.welcomePageContainer{
  max-height: 608px;
  min-width: 1500px;
}

.welcomeTitle1{
  position:relative;
    transition: .5s ease;
    top: -500px;
    left: 500px;
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: hotpink;
}
.welcomeTitle2{
  position:relative;
    transition: .5s ease;
    top: -550px;
    left: 400px;
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: hotpink;
}

.logInButton {
  position:relative;
    transition: .5s ease;
    top: -450px;
    left: 690px;
}

.visitorButton {
  position:relative;
    transition: .5s ease;
    top: -400px;
    left: 550px;
}

/* Sign In Pge */
.signInForm{
  position:relative;
    transition: .5s ease;
    top: -500px;
    left: 410px;
    max-width: 600px;
    min-height: 290px;
}


.createAccountButton{
  position:relative;
  transition: .5s ease;
  top: -300px;
  left: 580px;
}

/* Visitor Welcome Page */

.vh-middle-column{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 550%;
  color: hotpink;
}

.orderButton{
  text-align: center
}

/* About and Contact Page */
.AboutAndContactPage {
  background: url("./images/backgrounds/pastel-color-watercolor-stain-background_52683-12281.jpg");
  background-position: center;
  background-size: cover;
  min-height: 608px;
  min-width: 1500px;
}

.aboutAndContact{
  position:relative;
    transition: .5s ease;
    top: -560px;
    left: 250px;
}

.aboutAndContactContainer{
  max-height: 608px;
  min-width: 1500px;
}

.homeCake{
  max-width: 100%;
  min-height: 550px;
}

.cakeCard{
  max-width: 290px;
  min-height: 290px;
  margin: 10px 10px 10px 10px
}

/* Order Page */
.OrderPage {
  background: url("./images/backgrounds/stripes.jpg");
  background-position: center;
  background-size: cover;
  min-height: 607px;
  min-width: 1500px;
}

/* Home */
.Home {
  background: url("./images/backgrounds/unicorn.png");
  background-position: center;
  background-size: cover;
  min-height: 648px;
  min-width: 1500px;
}

.greeting{
  position:relative;
    transition: .5s ease;
    top: -600px;
    left: 80px;
}

.scrollDownButton {
  position:relative;
    transition: .5s ease;
    top: -80px;
    left: 693px;
}

/* User Pofile */
.UserProfile {
  background: url("./images/backgrounds/teal_cake.jpg");
  background-position: center;
  background-size: cover;
  min-height: 648px;
  min-width: 1500px;
}

.avatar{
  position:relative;
  transition: .5s ease;
  top: -600px;
  left: 80px;
}

.profileInfo{
  position:relative;
  transition: .5s ease;
  top: -550px;
  left: 80px;
}

.ordersButton{
  position:relative;
  transition: .5s ease;
  top: -550px;
  left: 80px;
}

.settingsButton{
  position:relative;
  transition: .5s ease;
  top: -550px;
  left: 80px;
}

/* USer Orders */
.UserOrders {
  background: url("./images/backgrounds/fork.jpg");
  background-position: center;
  background-size: cover;
  min-height: 648px;
  min-width: 1500px;
}

/* Footer */
.footer{
  padding-bottom: 10px
}