.WelcomePage {
  background: url("./images/backgrounds/welcomepage.jpg");
  background-position: center;
  background-size: cover;
  min-height: 689px;
  min-width: 1500px;
}

.logInButton {
  position:relative;
    transition: .5s ease;
    top: -350px;
    left: 690px;
}

.visitorButton {
  position:relative;
    transition: .5s ease;
    top: -300px;
    left: 550px;
}

.vh-middle-column{
  text-align: center
}

.orderButton{
  text-align: center
}

.AboutAndContactPage {
  background: url("./images/backgrounds/pastel-color-watercolor-stain-background_52683-12281.jpg");
  background-position: center;
  background-size: cover;
  min-height: 689px;
  min-width: 1500px;
}

.createAccountButton{
  position:relative;
  transition: .5s ease;
  top: -300px;
  left: 580px;
}

.homeCake{
  max-width: 100%;
  min-height: 550px;
}

.card{
  max-width: 290px;
  min-height: 290px;
  padding: 10px 10px 10px 10px
}
